<h1>Paketnik {{paketnik.naziv}}</h1>

<p>ID: {{paketnik._id}}</p>


<a class="button" href="/paketnik/odstrani/{{paketnik._id}}">Izbriši</a>

<form action="/paketnik/spremeniPolnPrazen" method="post">
<p>Poln:
{{#if paketnik.poln}}
    <span>Da </span><img alt="da" style="width: 10px;height: 10px;" src="/images/yes.png"><input type="hidden" name="paketnikId" value="{{paketnik._id}}"><input type="submit" style="margin-left: 10px" value="Spremeni">
{{else}}
    <span>Ne </span><img alt="ne" style="width: 10px;height: 10px;" src="/images/no.png"><input type="hidden" name="paketnikId" value="{{paketnik._id}}"><input type="submit" style="margin-left: 10px" value="Spremeni">
{{/if}}

</p>
</form>

<a class="button" href="/paketnik/odklep/{{paketnik._id}}">Odkleni</a>

<br><br>

<h2>Osebe z dostopom:</h2>
<form action="/paketnik/dodajOseboZDostopom" method="post">
    <p>Dodaj dostop osebi: <input type="text" name="username" style="height: 23px;" placeholder="Uporabniško ime" required>
    <input type="hidden" name="paketnikId" value="{{paketnik._id}}">
    <input type="submit" style="margin-left: 10px" value="Dodaj"></p>
</form>

<table>
    {{#each paketnik.osebeZDostopom}}
        {{#ifnoteq this.[osebaId] ../paketnik.lastnikId}}

            <tr>
                <td>
                    <p>{{this.[osebaUsername]}}</p>
                </td>
                <td>

                    <form action="/paketnik/odstraniOseboZDostopom" method="post">
                        <input type="hidden" name="osebaIndex" value="{{@index}}">

                        <input type="hidden" name="paketnikId" value="{{../paketnik._id}}">
                        <input type="submit" style="margin-left: 10px" value="Odstrani">
                    </form>

                </td>
            </tr>
        {{/ifnoteq}}
    {{/each}}
</table>

<br><br>

<h2>Dnevnik odklepov:</h2>


<table style="width:100%" class="DnevnikOdklepov">
    <tr>
        <th class="rowsDnevnik">Odprl</th>
        <th class="rowsDnevnik">Datum in čas</th>
    </tr>
{{#each paketnik.odklepi}}
    <tr class="tableRowsDnevnik">
        <td class="rowsDnevnik">{{this.[oseba]}}</td>
        <td class="rowsDnevnik"><i>{{dateformat  this.[datum] "dddd, dd mmmm yyyy, HH:MM"}}</i></td>
    </tr>
{{/each}}

</table>



