<h1>Paketnik {{paketnik.naziv}}</h1>

<p>ID: {{paketnik._id}}</p>
<a href="http://localhost:3000/paketnik/odklep/{{paketnik._id}}">Odkleni</a>

<br><br>
<h2>Dnevnik odklepov:</h2>


{{#each paketnik.odklepi}}
    <span><i>{{this.[oseba]}} — {{this.[datum]}}</i></span> <br><br>
{{/each}}