<h1>Paketnik {{paketnik.naziv}}</h1>

<p>ID: {{paketnik._id}}</p>

<a href="/paketnik/odstrani/{{paketnik._id}}">Odstrani paketnik</a>

<p>Poln:
{{#if paketnik.poln}}
    <span>da</span>
{{else}}
    <spa>ne</spa>
{{/if}}
</p>

<a href="/paketnik/odklep/{{paketnik._id}}">Odkleni</a>

<br><br>

<h2>Osebe z dostopom:</h2>
<form action="/paketnik/dodajOseboZDostopom" method="post">
    <p>Dodaj dostop osebi: <input type="text" name="username" placeholder="Uporabniško ime" required>
    <input type="hidden" name="paketnikId" value="{{paketnik._id}}">
    <input type="submit" style="margin-left: 10px" value="Dodaj"></p>
</form>

<table>
    {{#each paketnik.osebeZDostopom}}
        {{#ifnoteq this.[osebaId] ../paketnik.lastnikId}}

            <tr>
                <td>
                    <p>{{this.[osebaUsername]}}</p>
                </td>
                <td>

                    <form action="/paketnik/odstraniOseboZDostopom" method="post">
                        <input type="hidden" name="osebaIndex" value="{{@index}}">

                        <input type="hidden" name="paketnikId" value="{{../paketnik._id}}">
                        <input type="submit" style="margin-left: 10px" value="Odstrani">
                    </form>

                </td>
            </tr>
        {{/ifnoteq}}
    {{/each}}
</table>




<br><br>

<h2>Dnevnik odklepov:</h2>
<!-- v show se mora narediti tabela namesto navadnega izpisa dnevnika -->



{{#each paketnik.odklepi}}
    <span><i>{{this.[oseba]}} — {{dateformat  this.[datum] "dddd, mmmm dd yyyy, HH:MM"}}</i></span> <br><br>
{{/each}}


