<h1>Paketnik {{paketnik.naziv}}</h1>

<p>{{paketnik._id}}</p>
<a href="http://localhost:3000/paketnik/odklep/{{paketnik._id}}">Odkleni</a>

<br>
<h2>Dnevnik odklepov:</h2>
{{#each paketnik.odklepi}}
    <span><i>{{this}}</i></span> <span><i>{{odklenilId}}</i></span> <br><br>
{{/each}}

{{#each paketnik.odklenilId}}
    <span><i>{{this}}</i></span><br><br>
{{/each}}